/* 
I sorted declarations and variables alphabetically. 
I sorted selectors based off of the suggested element sorting on this site: https://meiert.com/en/blog/how-to-order-css-selectors/. 
Within each section, I sorted selectors from generic to specific.
*/

:root {
    --dark-blue: #264273;
    --light-blue: #a6c1f6;
    --neg-side-margins: -150px;
    --off-white: #ebf1fc;
    --side-margins: 150px;
}

* {
    margin: 0;
    padding: 0;
}

/* sectioning/structuring */

body {
    background-color: var(--off-white);
    color: var(--dark-blue);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-left: var(--side-margins);
    margin-right: var(--side-margins);
}

figure {
    display: inline-block;
    font-weight: 200;
    padding: 10px;
}

/* navigation */

nav {
    background: linear-gradient(to bottom, var(--dark-blue) 0%, var(--off-white) 100%);
    color: var(--light-blue);
    font-weight: 200;
    height: 200px;
    margin-left: var(--neg-side-margins);
    margin-right: var(--neg-side-margins);
}

nav div {
    display: inline;
    margin-bottom: 30px;
    margin-left: var(--side-margins);
    margin-right: var(--side-margins);
    margin-top: 30px;
}

#logo {
    float: left;
}

#pages {
    float: right;
}

#activePage {
    color: var(--off-white);
}

/* footer */

footer {
    background: linear-gradient(to top, var(--dark-blue) 0%, var(--off-white) 100%);
    height: 200px;
    margin-left: var(--neg-side-margins);
    margin-right: var(--neg-side-margins);
}

#footer {
    color: var(--off-white);
    font-weight: 200;
    margin-left: var(--side-margins);
    margin-right: var(--side-margins);
    text-align: center;
    transform: translateY(150px);
}

/* images */

#logoIcon {
    margin-top: -25px;
}

#mailIcon {
    height: 13px;
}

#mntsLineImg {
    margin-top: -100px;
}

/* form */
form {
    background-color: #26427328;
    line-height: 50px;
}

fieldset {
   border: none;
   padding-left: 10px;
}

input {
    font-family: inherit;
}

input[type="text"], input[type="email"], textarea {
    background-color : var(--off-white); 
    border: none;
  }

input[type="submit"] {
    background-color: var(--dark-blue);
    border: none;
    color: var(--off-white);
    padding: 5px 50px;
}

/* table */

thead {
    background-color: var(--dark-blue);
    color: var(--off-white);
    font-size: large;
    opacity: 80%;
}

tbody {
    background-color: #2642733a;
}

table, th, td {
    border: 1px solid var(--dark-blue);
    border-collapse: collapse;
    padding: 5px;
}

th, td {
    padding-right: 25px;
}

tfoot td {
    font-weight: 200;
    border: none;
}

/* links */

a {
    color: var(--light-blue);
    text-decoration: none;
}

a:hover {
    color: var(--off-white);
}
